CMakeCache*
.gdb_history
CMakeFiles
Makefile
Makefile.in
*.swp
mc
*.dSYM
*.dylib
*.so
*.a
*.la
*.Plo
*.Tpo
*.lo
*.o
*.out
*.dve2C
*.Po
*.spins
cmake_install.cmake
src/syntax/andl/andl-lexer.c
src/syntax/andl/andl-lexer.h
src/syntax/andl/andl-parser.c
src/syntax/andl/andl-parser.h
src/syntax/mucalc-grammar.c
src/syntax/mucalc-grammar.h
src/syntax/ltsmin-grammar.c
src/syntax/ltsmin-grammar.h
src/syntax/ltsmin-lexer.c
src/syntax/ltsmin-lexer.h
src/syntax/mucalc-lexer.c
src/syntax/mucalc-lexer.h
third-party/ltl2ba/ltl2ba
third-party/lemon/lemon
