CMakeCache*
.gdb_history
CMakeFiles
Makefile
Makefile.in
*.swp
mc
*.dSYM
*.dylib
*.so
*.a
*.la
*.Plo
*.Tpo
*.lo
*.o
*.out
*.dve2C
cmake_install.cmake
*.spins
andl/andl-lexer.c
andl/andl-lexer.h
andl/andl-parser.c
andl/andl-parser.h
ltl2ba/ltl2ba
*.Po
third-party/lemon/lemon